@media only screen and (max-width: 1108px){
    .wrapper {
        width: 90%;
    }
    #social {
        position: absolute;
        top: 82px;
        right: 42px;
        width: auto;
    }

    #social a {
        display: inline-block;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 85%;
    }

    #logo h1 {
        width: 35px;
        height: 35px;
    }

    #logo h2 {
        font: 2.2em;
    }

    #social {
        top: 72px;
    }

    .col-3 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (max-width: 800px) {

        #navbar nav a {
            font-size: 0.9em;
        }
}
